.manga {
  padding: 5px;
  margin-bottom: 1em;

  img {
    width: 100%;
  }

  label {
    font-weight: bold;
    margin-right: 5px;
  }

  .value {
    padding-right: 1em;
  }

  .chapters {
    margin-top: 1em;
    tbody {
      tr {
        cursor: pointer;
      }
    }
  }
}
