<div>
  <div v-if="loading != 0">loading...<br></div>
  <b-container v-else class="manga">
    <b-row>
      <b-col sm="2" md="3" lg="2"><img v-bind:src="manga.imageUrl"></b-col>
      <b-col md="9" lg="7">
        <b-container :fluid="true">
          <b-row>
            <h1>{{ manga.name }}</h1>
          </b-row>
          <b-row>
            <label>Author:</label> <span class="value">{{ manga.author }}</span>
          </b-row>
          <b-row>
            <label>Artist:</label> <span class="value">{{ manga.artist }}</span>
          </b-row>
          <b-row>
            <label>Description:</label> <span class="value">{{ manga.description }}</span>
          </b-row>
        </b-container>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <h2>Chapters</h2>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-table class="chapters" :striped="true" :items="chapters" :fields="['label', 'releaseDate']" @row-clicked="goToChapter(manga.id, $event.id)">
        </b-table>
      </b-col>
    </b-row>
  </b-container>
</div>
