<div>
  <div v-if="loading">loading...</div>
  <b-container v-if="!loading" class="mangalist">
    <b-row>
      <b-col>
        <b-container
          class="manga"
          :fluid="true"
          v-for="manga in mangaList"
          v-bind:key="manga.id"
          v-on:click.stop.prevent="goToManga(manga.id)"
        >
          <b-row>
            <b-col md="2"><img v-bind:src="manga.imageUrl" class="thumb"></b-col>
            <b-col md="10">
              <b-container :fluid="true">
                <b-row>
                  <label>Manga Name:</label> <span class="value">{{ manga.name }}</span>
                </b-row>
                <b-row>
                  <label>Author:</label> <span class="value">{{ manga.author }}</span>
                </b-row>
                <b-row>
                  <label>Artist:</label> <span class="value">{{ manga.artist }}</span>
                </b-row>
                <b-row>
                  <label>Description:</label> <span class="value">{{ manga.description }}</span>
                </b-row>
              </b-container>
            </b-col>
          </b-row>
        </b-container>

      </b-col>
    </b-row>
  </b-container>
</div>
